<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adg_vit_final">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ADGVITFINAL">
        <activity android:name=".JavaActivities.About">

        </activity>
        <activity android:name=".JavaActivities.Home"/>
        <activity android:name=".JavaActivities.Settings">


        </activity>
        <activity android:name=".JavaActivities.Appearance">

        </activity>
        <activity android:name=".JavaActivities.Projects">

        </activity>
        <activity android:name=".JavaActivities.Domains">

        </activity>
        <activity android:name=".JavaActivities.Login" />
        <activity android:name=".JavaActivities.Events">
        </activity>
        <activity android:name=".JavaActivities.EventDetails" />
        <activity android:name=".JavaActivities.SignUpTwo" />
        <activity android:name=".JavaActivities.FirstBoarding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JavaActivities.Signup1" />
        <activity android:name=".JavaActivities.Signup3" />
        <activity android:name=".JavaActivities.Signup4" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>