<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adgvit.externals">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ADGVITFINAL"
        android:usesCleartextTraffic="true">
        <activity android:name="com.adgvit.externals.JavaActivities.Profile"></activity>
        <activity
            android:name="com.adgvit.externals.JavaActivities.Notofication"
            android:exported="true" />
        <activity android:name="com.adgvit.externals.JavaActivities.About" />
        <activity android:name="com.adgvit.externals.JavaActivities.Home" />
        <activity android:name="com.adgvit.externals.JavaActivities.ProjectDetailsView" />
        <activity android:name="com.adgvit.externals.JavaActivities.Settings" />
        <activity android:name="com.adgvit.externals.JavaActivities.Appearance" />
        <activity android:name="com.adgvit.externals.JavaActivities.Projects" />
        <activity android:name="com.adgvit.externals.JavaActivities.Domains" />
        <activity android:name="com.adgvit.externals.JavaActivities.Login" />
        <activity android:name="com.adgvit.externals.JavaActivities.Events" />
        <activity android:name="com.adgvit.externals.JavaActivities.EventDetails" />
        <activity android:name="com.adgvit.externals.JavaActivities.SignUpTwo" />
        <activity android:name="com.adgvit.externals.JavaActivities.FirstBoarding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.adgvit.externals.JavaActivities.Signup1" />
        <activity android:name="com.adgvit.externals.JavaActivities.Signup3" />
        <activity android:name="com.adgvit.externals.JavaActivities.Signup4" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>